<!DOCTYPE HTML 
PUBLIC  "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/frameset.dtd"
>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="images/spoon.ico" />
        <title>Pentaho Documentation</title>
    </head>
    <frameset cols="20%,80%" title=""> 
        <frame src="toc.html" name="toc" title="Table of contents" scrolling="yes"> 
        <frame src="frontpage.html" name="main" title="Document" scrolling="yes"> 
    </frameset> 
    <noframes> 
        This webpage requires frames. 
        Your browser doesn't seem to support them.
        That means: no webpages for you, sorry...
    </noframes> 
</html>
