* {
    font-family: sans-serif;
}

thread tr th {
    text-align: center;    
    font-weight:bold;
}

tbody tr th {
    text-align: left;
    font-weight:normal;
}

th {
    background-color: orange;
}


body.kettle-file {
    background-image: url(../images/bg_banner.png);
}

body.kettle-main {
    background-image: url(../images/bg_banner.png);
}

body.kettle-items {
}

body {
    background-repeat: no-repeat;
}

p, ul, ol, div, table {
    font-size: 10pt;
}

li.item-ktr {
    list-style-image:url(../images/transformation.png);
}

li.item-kjb {
    list-style-image:url(../images/chefgraph.png);
}

.diagram {
    position: relative;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
}

.kettle-hop {
    z-index:0;
}

.note{
	position:absolute;
	border-style:solid;
	border-width: 2px;
}