body {
    background-image: url(../images/btn_ql_newanalysis.png);
    background-position: right top;
}

h1.schema {
    background-image: url(../images/schema24.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

h2.cube {
    background-image: url(../images/cube24.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

h2.dimension, h4.dimension, table.dimension thead tr th{
    background-image: url(../images/dimension24.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

h4.dimension-usage, table.dimension-usage thead tr th {
    background-image: url(../images/dimensionUsage24.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

h3.measures, table.measures tbody tr th {
    background-image: url(../images/measure24.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

table.measures {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}

table.measures thead tr th {
    background-color: transparent;
    border-style: none solid solid none;
    border-width: 1px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(255,255,150);
}

table.measures tbody tr td {
    background-color: transparent;
    border-style: none dotted none none;
    border-width: 1px;
    padding: 0px 2px 0px 2px
}

table.measures tbody tr th {
    background-color: transparent;
    border-style: none solid none none;
    border-width: 1px;
    padding: 2px 2px 0px 25px;
    white-space: nowrap;
    height: 20px;
}

td.bottom  table{
    float: left;
}

td.top table  {
    float: right;
    bottom:0px;
}

td.left table{
    margin-left: auto;
}

table.dimension , table.dimension-usage {
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    margin: 5px;
}

table.dimension thead tr th, table.dimension-usage thead tr th  {
    background-color: transparent;
    border-style: none none solid none;
    border-color: black;
    border-width: 1px;
    font-weight: bold;
    height: 24px;
    white-space: nowrap;
    background-color: rgb(0,230,255);
    color: white;
}

table.hierarchy {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    margin: 5px;
}

table.hierarchy thead tr th {
    background-color: transparent;
    border-style: none none dotted none;
    border-width: 1px;
    text-align: left;
    font-weight: bold;
    color: black;
}

h5.hieararchy, table.hierarchy thead tr th {
    background-image: url(../images/hierarchy24.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

.level {
    background-image: url(../images/level24.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
    white-space: nowrap;
}

table.diagram  tbody tr td.dimensions, td.hierarchy{
    vertical-align: top;
}

td.top {
    vertical-align: bottom !important;
}